#Home-page {
  background-color: lightblue;
  padding: 30px;

  .header {
    padding: 10px;
    background-color: lightgreen;
  }
  .content {
    padding: 10px;
    background-color: coral;
    display: flex;

    .main {
      padding: 10px;
      width: 75%;
      background-color: lightgrey;

      .search-bar {
        height: 40px;
        display: flex;
        align-items: center;
        background-color: burlywood;

        button {
          margin-left: 10px;
        }
      }

      .cards-container {
        // padding-top: 20px;
        // padding-bottom: 20px;
        background-color: lightpink;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
    .side {
      padding: 10px;
      width: 25%;
      background-color: beige;
    }
  }
}
